---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/sections/Hero.astro";
import UeberUns from "../components/sections/UeberUns.astro";
import Leistungen from "../components/sections/Leistungen.astro";
import Kalkulator from "../components/sections/Kalkulator.astro";
import Ablauf from "../components/sections/Ablauf.astro";
import Bewertungen from "../components/sections/Bewertungen.astro";
import FAQ from "../components/sections/FAQ.astro";
import GoogleMaps from "../components/sections/GoogleMaps.astro";
import Kontakt from "../components/sections/Kontakt.astro";
import Footer from "../components/Footer.astro";
import WhatsApp from "../components/WhatsApp.astro";
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <UeberUns />
    <Leistungen />
    <Kalkulator />
    <Ablauf />
    <Bewertungen />
    <FAQ />
    <GoogleMaps />
    <Kontakt />
  </main>
  <Footer />
  <WhatsApp />
</Layout>
